{% extends "base.html" %}
{% block title %}Administer Login{% endblock %}


{% block content %}
<div class="dashboard" > 
  <div class="container">
    <div class="dash-content">
     
        <div class="display-1 text-center my-5 py-5 admin_header">Admin Dashboard</div>
          <!--tabs-->
          <ul class="nav nav-tabs" id="dashboard-tabs" role="tablist">
            <li class="nav-item">
              <!--active controls which tab is active-->
              <a class="nav-link fs-4  {% if tab == 'user-accounts' %} active{% endif %}" data-bs-toggle="tab" href="#user-accounts">User Accounts</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-4 {% if tab == 'multiple-choice-quiz' %} active{% endif %}" data-bs-toggle="tab" href="#multiple-choice-quiz">Multiple Choice Quiz</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-4 {% if tab == 'true-or-false-quiz' %} active{% endif %}" data-bs-toggle="tab" href="#true-or-false-quiz">True or False Quiz</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-4 {% if tab == 'flashcards' %} active{% endif %}" data-bs-toggle="tab" href="#flashcards">Flashcards</a>
            </li>
          </ul>
          

          <div class="tab-content" >
            <!--user accounts-->
            <div class="tab-pane fade {% if tab == 'user-accounts' %}show active{% endif %} " id="user-accounts" >
              <table class="table table-striped" >
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for user in users %}
                    {% if user.username != "administer" %}
                      <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                          <form action="{{ url_for('auth.admin_delete_user', user_id=user.id) }}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger">Delete User</button>
                          </form>
                        </td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>


            <!--Multiple choice-->
            <!--tab and show active is the key for page staying on current tab-->
            <div class="tab-pane fade {% if tab == 'multiple-choice-quiz' %}show active{% endif %}" id="multiple-choice-quiz">
              <table class="table table-striped" >
                <thead>
                  <tr>
                    <th>Question text</th>
                    <th>Answer</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for question in quiz_m %}
                      <tr>
                        <td>{{ question.question }}</td>
                        <td>{{ question.answer }}</td>
                        <td>
                          <form action="{{ url_for('auth.admin_delete_multi_question', question_id=question.id, tab='multiple-choice-quiz')}}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger">Delete Question</button>
                          </form>
                        </td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

        
            <!--True/False choice-->
            <div class="tab-pane fade {% if tab == 'true-or-false-quiz' %}show active{% endif %}" id="true-or-false-quiz">
              <table class="table table-striped" >
                <thead>
                  <tr>
                    <th>Question text</th>
                    <th>Answer</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for question in quiz_tf %}
                      <tr>
                        <td>{{ question.question }}</td>
                        <td>{{ question.answer }}</td>
                        <td>
                          <form action="{{ url_for('auth.admin_delete_tf_question', question_id=question.id, tab='true-or-false-quiz') }}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger">Delete Question</button>
                          </form>
                        </td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
              
            <!--Flashcards-->
            <div class="tab-pane fade {% if tab == 'flashcards' %}show active{% endif %}" id="flashcards">
              <table class="table table-striped" >
                <thead>
                  <tr>
                    <th>Flashcard title</th>
                    <th>Flashcard content</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for flashcard in flashcards %}
                      <tr>
                        <td>{{ flashcard.title }}</td>
                        <td>{{ flashcard.content }}</td>
                        <td>
                          <form action="{{ url_for('auth.admin_delete_flashcard', flashcard_id=flashcard.id, tab='flashcards') }}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-danger">Delete Flashcards</button>
                          </form>
                        </td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
      
    </div>
  </div>
</div>




{% endblock %}